.track {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.track:first-child {
	padding-top: 40px;
}

.track:first-child .title {
	display: none;
}

.title {
	display: flex;
	align-items: center;
	text-align: center;
	width: 100%;
	color: #afafaf;
	font-size: 18px;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 0.8px;
	margin: 80px 0;
}

.title::before,
.title::after {
	content: "";
	flex: 1;
	height: 2px;
	background-color: #e5e5e5;
}

.title::before {
	margin-right: 15px;
}

.title::after {
	margin-left: 15px;
}

.units {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 50%;
	align-items: center;
}
