.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.btn {
	padding: 15px 40px;
	border: 2px solid rgb(217, 217, 217);
	min-width: 150px;
	color: gray;
	border-radius: 15px;
	font-size: 18px;
	font-weight: bold;
}

@media (max-width: 600px) {
	.buttons {
		align-items: unset;
		flex-direction: column;
		gap: 10px;
	}

	.btn {
		padding: 8px;
	}
}
