.track {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.title {
	background-color: rgb(231, 138, 15);
	color: white;
	padding: 35px;
	width: 50%;
	font-size: 22px;
	font-weight: bold;
}

.units {
	display: flex;
	flex-direction: column;
	gap: 32px;
	width: 50%;
	align-items: center;
}
