.wrapper {
	margin: 20px;
	display: flex;
	flex-direction: column;
	gap: 16px;

	.title {
		font-size: 32px;
	}

	.items {
		display: flex;
		gap: 16px;

		.item {
			border: 1px solid gray;
			max-width: max-content;
			padding: 15px;
			display: flex;
			flex-direction: column;
			gap: 8px;

			.itemTitle {
				font-size: 18px;
				font-weight: bold;
			}

			.itemBtn {
				border: 1px solid gray;
				text-align: center;
				padding: 8px;
			}
		}
	}
}
