.wrapper {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

.counter {
	font-size: 24px;
	text-align: center;
}

.main {
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100%;
	margin-top: 300px;

	.text {
		font-size: 32px;
	}
}
