.wrapper {
	border-top: 1px solid rgb(200, 200, 200);
	padding: 33px;
}

.container {
	width: 100%;
	max-width: 920px;
	margin: 0 auto;
	min-height: 80px;
	height: 100%;
}

@media (max-width: 600px) {
	.wrapper {
		padding: 15px;
		border-top: none;
		margin-top: auto;
	}
}

.correct {
	background: #d7ffb8;
}

.wrong {
	background: #ffdfe0;
}
