.unit {
	list-style: none;
	display: flex;
	justify-content: center;
	/* Контейнер теперь просто позиционирует, а не анимируется */
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 63px;
	border-radius: 50%;
	font-weight: bold;

	transition:
		transform 0.1s,
		box-shadow 0.1s;
	position: relative;
	outline: none;
}

.available {
	background-color: #1cb0f6;
	color: white;
	box-shadow: 0 8px 0 #1899d6;
}

.completed {
	background-color: #58cc02;
	color: white;
	box-shadow: 0 8px 0 #46a302;
}

.locked {
	background-color: #e5e5e5;
	color: #afafaf;
	box-shadow: 0 8px 0 #afafaf;
	cursor: default;
}

.button:not(.locked):hover {
	transform: translateY(2px);
}

.available:hover {
	box-shadow: 0 6px 0 #1899d6;
}

.completed:hover {
	box-shadow: 0 6px 0 #46a302;
}

.button:not(.locked):active {
	transform: translateY(6px);
	box-shadow: 0 2px 0 #1899d6;
}
.completed:active {
	box-shadow: 0 2px 0 #46a302;
}
