.screen {
	width: 100vw;
	border: 1px solid red;
	display: flex;
	justify-content: center;
}

.runner {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.counter {
	font-size: 24px;
	text-align: center;
}
