.wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin: 20px;

	.title {
		font-size: 32px;
	}

	.sections {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
		gap: 16px;
		max-width: 1100px;

		.section {
			display: flex;
			flex-direction: column;
			gap: 15px;
			border: 1px solid gray;
			padding: 15px;

			.sectionTitle {
				font-weight: bold;
			}

			.sectionBtn {
				border: 1px solid gray;
				padding: 5px 20px;
				text-align: center;
			}
		}
	}
}
